<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="tests/bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="Notifier Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <php>
        <env name="PROWLAPP_APIKEY" value=""/>
        <env name="PUSHOVER_APIKEY" value=""/>
        <env name="PUSHOVER_USERKEY" value=""/>
    </php>
</phpunit>